@model ForumClient.Models.CategoriesModel

@{
    ViewData["Title"] = "DetailCategory";
    Layout = "~/Views/Admin/_Layout.cshtml";
}
<main id="content" role="main" class="main">
    <!-- Content -->
    @{
        if (TempData["Message"] != null)
        {
            <div class="alert alert-primary" role="alert">
                @TempData["Message"]
            </div>
        }
    }
    <div class="content container-fluid">
        <h1 style=" margin-top: 50px;">DetailCategoris</h1>

        <div style="margin-left:0px">

            <hr style=" margin-left: -100px;" />
            <dl class="row">
                <dt class="col-sm-2" style=" text-transform: capitalize; font-size: 16px;">
                    @Html.DisplayNameFor(model => model.name)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.name)
                </dd>
                <dt class="col-sm-2" style=" text-transform: capitalize; font-size: 16px;">
                    @Html.DisplayNameFor(model => model.description)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.description)
                </dd>
                <dt class="col-sm-2" style=" text-transform: capitalize; font-size: 16px;">
                    @Html.DisplayNameFor(model => model.created_by)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.created_by)
                </dd>
                <dt class="col-sm-2" style=" text-transform: capitalize; font-size: 16px;">
                    @Html.DisplayNameFor(model => model.created_at)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.created_at)
                </dd>
            </dl>
        </div>
        <div>
            <a asp-action="CategoriesView" style="margin-left: 206px;">Back to List</a>
        </div>
    </div>

    <div class="footer" style="text-align:center">
        <div class="row justify-content-between align-items-center">
            <div class="col">
                <p class="font-size-sm mb-0">&copy; Create  <span class="d-none d-sm-inline-block">by H-B-N-L</span></p>
            </div>
            <div class="col-auto">
                <div class="d-flex justify-content-end">
                    <!-- List Dot -->
                    <!-- End List Dot -->
                </div>
            </div>
        </div>
    </div>



    <!-- End Footer -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
