@model IEnumerable<ForumClient.Models.TopicModel>

@{
    ViewData["Title"] = "TopicView";
    Layout = "~/Views/Admin/_Layout.cshtml";
}

<h1>TopicView</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<main id="content" role="main" class="main">
    <!-- Content -->
     @{
                if (TempData["Message"] != null)
                {
                    <div class="alert alert-primary" role="alert">
                      @TempData["Message"]
                    </div>
                }
            }
    <div class="content container-fluid">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Categogies_name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Username)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Contents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created_at)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Categogies_name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Username)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Contents)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Created_at)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Topic_Id">Details</a> |
                <a asp-action="TopicDelete" asp-route-id="@item.Topic_Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>

    <div class="footer">
        <div class="row justify-content-between align-items-center">
            <div class="col">
                <p class="font-size-sm mb-0">&copy; Front. <span class="d-none d-sm-inline-block">2020 Htmlstream.</span></p>
            </div>
            <div class="col-auto">
                <div class="d-flex justify-content-end">
                    <!-- List Dot -->
                    <ul class="list-inline list-separator">
                        <li class="list-inline-item">
                            <a class="list-separator-link" href="#">FAQ</a>
                        </li>

                        <li class="list-inline-item">
                            <a class="list-separator-link" href="#">License</a>
                        </li>

                        <li class="list-inline-item">
                            <!-- Keyboard Shortcuts Toggle -->
                            <div class="hs-unfold">
                                <a class="js-hs-unfold-invoker btn btn-icon btn-ghost-secondary rounded-circle" href="javascript:;" data-hs-unfold-options='{
                              "target": "#keyboardShortcutsSidebar",
                              "type": "css-animation",
                              "animationIn": "fadeInRight",
                              "animationOut": "fadeOutRight",
                              "hasOverlay": true,
                              "smartPositionOff": true
                             }'>
                                    <i class="tio-command-key"></i>
                                </a>
                            </div>
                            <!-- End Keyboard Shortcuts Toggle -->
                        </li>
                    </ul>
                    <!-- End List Dot -->
                </div>
            </div>
        </div>
    </div>



    <!-- End Footer -->
</main>
<!-- ========== END MAIN CONTENT ========== -->
