@model Confirmed_docter_view
@{
    ViewData["Title"] = "Confirmed_docter_view";
    Layout = "~/Views/Forum/_Layout.cshtml";
}


<main id="tt-pageContent" class="tt-offset-small">
    <div class="container">
        <div class="tt-tab-wrapper">
            <div class="tt-wrapper-inner">
                <h2>Hello...!@Model.Name Are you a doctor?</h2>
            </div>
            <div class="tab-content">
                <div class="tab-pane tt-indent-none  show active" id="tt-tab-01" role="tabpanel">
                    <div class="tt-item">

                        <form class="form-default" method="post" enctype="multipart/form-data" asp-action="Confirmed_docter" asp-route-id="@Model.id">

                            <div class="form-group">
                                <label for="loginPassword">Password Old</label>
                                <input required asp-for="Password" type="Password" name="Password" class="form-control" id="loginPassword">
                            </div>
                            <div class="form-group">
                                <label for="Experience">Experience</label>
                                <input asp-for="Experience" type="text" name="Experience" class="form-control" id="Experience" value="@Model.Experience">
                            </div>
                            <div class="form-group">
                                <label for="Qualification">Qualification</label>
                                <input asp-for="Qualification" type="text" name="Qualification" class="form-control" id="Qualification" value="@Model.Qualification">
                            </div>
                            <div class="form-group">
                                <label for="Professional">Professional</label>
                                <input asp-for="Professional" type="text" name="Professional" class="form-control" id="Professional" value="@Model.Professional">
                            </div>
                            <p><img src="~/update_images/@Model.Image" id="output" width="200" /></p>
                            @{
                                if (@Model.Mess != null)
                                {
                                    <span style="font-weight: bold">@Model.Mess</span>
                                }
                            }
                            <input type="submit" class="btn btn-secondary btn-block" value="Update Infomation" />

                        </form>

                        <br /><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>