@model IEnumerable<TopicModel> 
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Forum/_Layout.cshtml";
}

<main id="tt-pageContent" class="tt-offset-small">
    <div class="container">
        <div class="tt-topic-list">
            <div class="tt-list-header">
                <div class="tt-col-topic">Topic</div>
                <div class="tt-col-category">Category</div>
                <div class="tt-col-value hide-mobile">Views</div>
                <div class="tt-col-value" style="margin-left: 60px;">Activity</div>
            </div>
            @foreach (var post in Model)
            {
                <a asp-action="ViewComment" asp-route-id="@post.Topic_Id">
                    <div class="tt-item tt-itemselect" style="word-wrap: break-word;" >
                    <div class="tt-col-avatar">
                        <svg class="tt-icon">
                            @{
                                var str = post.Username.Substring(0, 1).ToLower();
                            }
                            <use xlink:href="#icon-ava-@str"></use>
                        </svg>
                    </div>
                    <div class="tt-col-description">
                        <h6 class="tt-title">
                            <a asp-action="ViewComment" asp-route-id="@post.Topic_Id">
                                @post.Title
                            </a>
                        </h6>
                        <div class="row align-items-center no-gutters">
                            <div class="col-11">
                                <ul class="tt-list-badge">
                                    <li class="show-mobile"><a href="#"><span class="tt-color01 tt-badge">@post.Categogies_name</span></a></li>
                                    <li><a href="#"><span class="tt-badge">@post.Categogies_name</span></a></li>
                                </ul>
                            </div>
                            <div class="col-1 ml-auto show-mobile">
                                <div class="tt-value">1h</div>
                            </div>
                        </div>
                    </div>
                    <div class="tt-col-category"><span class="tt-color01 tt-badge">@post.Categogies_name</span></div>
                    <div class="tt-col-value hide-mobile">@post.Status</div>
                    <div class="tt-col-value hide-mobile" style="margin-left: 50px;">@post.Created_at</div>
                </div>
                </a>
                
            }

            <div class="tt-row-btn">
                <button type="button" class="btn-icon js-topiclist-showmore">
                    <svg class="tt-icon">
                        <use xlink:href="#icon-load_lore_icon"></use>
                    </svg>
                </button>
            </div>
        </div>
    </div>
</main>

