@model UpdateUserView
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "User_Update";
    Layout = "~/Views/Forum/_Layout.cshtml";
}
<main id="tt-pageContent" class="tt-offset-small">
   

    <div class="container" style="margin-left:350px;">
        <div class="tt-wrapper-inner">
            <h2 style="font-size: 30px; margin-bottom: 18px;">Edit Information</h2>
        </div>
        <div class="tt-tab-wrapper">

            <div class="tab-content">
                <div class="tab-pane tt-indent-none  show active" id="tt-tab-01" role="tabpanel">

                    <div class="tt-item" style="border: solid 1px white; background-color: white; border-radius: 2%; box-shadow: 6px 6px 35px -10px cadetblue; width: 800px">
                        <div class="form-con container" style="margin-left:20px;margin-right:20px">

                            <div class="container" style="width:800px">
                                <div class="row" >
                                    <div class="col-sm-8">
                                        <br />
                                        @{
                                            var Role = Convert.ToInt16(Model.RoleId);
                                            if (Role == 3)
                                            {
                                                <form class="form-default" method="post" enctype="multipart/form-data" asp-action="Update_User" asp-route-id="@Model.id">

                                                    <div class="row">
                                                        <div class="col-sm-8">
                                                            <div class="form-group">


                                                                <p><img src="~/update_images/@Model.Image" id="output" max-width="100%" style="border:solid 1px;width:350px;border-radius:50% " /></p>

                                                            </div>
                                                        </div>
                                                        <div class="col-sm-4">

                                                            <label for="ProfileImage" style="margin-top:100px;" >
                                                                <input asp-for="ProfileImage" type="file" name="ProfileImage" class="form-control-file" id="ProfileImage" onchange="loadFile(event)" >
                                                            </label>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="loginName">Name</label>
                                                        <input required asp-for="Name" type="text" name="Name" class="form-control" id="loginName" value="@Model.Name" style="height:50px">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="loginUserEmail">Email</label>
                                                        <input required asp-for="Email" type="text" name="Email" class="form-control" id="loginUserEmail" value="@Model.Email" style="height:50px">
                                                    </div>

                                                    <div class="form-group">
                                                        <label for="loginPassword">Password Old</label>
                                                        <input required asp-for="Password" type="Password" name="Password" class="form-control" id="loginPassword" style="height:50px">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Mobile">Phone</label>
                                                        <input required asp-for="Mobile" type="text" name="Mobile" class="form-control" id="Mobile" value="@Model.Mobile" style="height:50px">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Address">Address</label>
                                                        <input asp-for="Address" type="text" name="Address" class="form-control" id="Address" value="@Model.Address" style="height:50px">
                                                    </div>
                                                    <div class="form-group">
                                                        <label for="Birthday">Birthday</label>
                                                        <input asp-for="Birthday" type="date" name="Birthday" class="form-control" id="Birthday" value="@Model.Birthday" style="height:50px">
                                                    </div>


                                                    <script>
                                                        var loadFile = function (event) {
                                                            var image = document.getElementById('output');
                                                            image.src = URL.createObjectURL(event.target.files[0]);
                                                        };
                                                    </script>
                                                    @{
                                                        if (@Model.Mess != null)
                                                        {
                                                            <span style="font-weight: bold">@Model.Mess</span>
                                                        }
                                                    }

                                                <div style="text-align:center"><input type="submit" class="btn btn-secondary btn-block right" value="Update Infomation" style="width:150px;background-color:orange; " /></div>

                                                </form>
                                            }
                                            else
                                            {
                                    <form class="form-default" method="post" enctype="multipart/form-data" asp-action="Update_User" asp-route-id="@Model.id">

                                        <div class="row">
                                            <div class="col-sm-9">
                                                <div class="form-group">


                                                    <p><img src="~/update_images/@Model.Image" id="output" max-width="100%" style="border:solid 1px;max-height:300px;width:auto;border-radius:50% " /></p>

                                                </div>
                                            </div>
                                            <div class="col-sm-3">

                                                <label for="ProfileImage" style="margin-top:100px;">
                                                    <input asp-for="ProfileImage" type="file" name="ProfileImage" class="form-control-file" id="ProfileImage" onchange="loadFile(event)">
                                                </label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="loginName">Name</label>
                                            <input required asp-for="Name" type="text" name="Name" class="form-control" id="loginName" value="@Model.Name" style="height:50px">
                                        </div>
                                        <div class="form-group">
                                            <label for="loginUserEmail">Email</label>
                                            <input required asp-for="Email" type="text" name="Email" class="form-control" id="loginUserEmail" value="@Model.Email" style="height:50px">
                                        </div>

                                        <div class="form-group">
                                            <label for="loginPassword">Password Old</label>
                                            <input required asp-for="Password" type="Password" name="Password" class="form-control" id="loginPassword" style="height:50px">
                                        </div>
                                        <div class="form-group">
                                            <label for="Mobile">Phone</label>
                                            <input required asp-for="Mobile" type="text" name="Mobile" class="form-control" id="Mobile" value="@Model.Mobile" style="height:50px">
                                        </div>
                                        <div class="form-group">
                                            <label for="Address">Address</label>
                                            <input asp-for="Address" type="text" name="Address" class="form-control" id="Address" value="@Model.Address" style="height:50px">
                                        </div>
                                        <div class="form-group">
                                            <label for="Birthday">Birthday</label>
                                            <input asp-for="Birthday" type="date" name="Birthday" class="form-control" id="Birthday" value="@Model.Birthday" style="height:50px">
                                        </div>

                                        <div class="form-group">
                                            <label for="Experience">Experience</label>
                                            <input asp-for="Experience" type="text" name="Experience" class="form-control" id="Experience" value="@Model.Experience" style="height:50px">
                                        </div>
                                        <div class="form-group">
                                            <label for="Qualification">Qualification</label>
                                            <input asp-for="Qualification" type="text" name="Qualification" class="form-control" id="Qualification" value="@Model.Qualification" style="height:50px">
                                        </div>
                                        <div class="form-group">
                                            <label for="Professional">Professional</label>
                                            <input asp-for="Professional" type="text" name="Professional" class="form-control" id="Professional" value="@Model.Professional" style="height:50px">
                                        </div>
                                        <script>
                                            var loadFile = function (event) {
                                                var image = document.getElementById('output');
                                                image.src = URL.createObjectURL(event.target.files[0]);
                                            };


                                        </script>
                                        @{
                                            if (@Model.Mess != null)
                                            {
                                                <span style="font-weight: bold">@Model.Mess</span>
                                            }
                                        }
                                    <div style="text-align:center">
                                        <input type="submit" class="btn btn-success btn-block" value="Update Infomation" style="width: 150px; background-color: orange; color: white; " />
                                    </div>
                                    </form>
                                            }


                                        }

                                        <br /><br /><br />
                                    </div>
                                    <div class="col-sm-5"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
