@model UpdateUserView
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "User_Update";
    Layout = "~/Views/Forum/_Layout.cshtml";
}

<h1>User_Update</h1>
<main id="tt-pageContent" class="tt-offset-small">
    <div class="tt-wrapper-section">
        <div class="container">
            <div class="tt-user-header">
                <div class="tt-col-avatar">
                    @*<img src="~/update_images/@Model.Image" alt="Avatar" id="avatarr">*@
                </div>
                <div class="tt-col-title">
                    <div class="tt-title">
                        <a href="#"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="tt-tab-wrapper">
            <div class="tt-wrapper-inner">
                <h3>Edit Information</h3>
            </div>
            <div class="tab-content">
                <div class="tab-pane tt-indent-none  show active" id="tt-tab-01" role="tabpanel">
                    <div class="tt-item">
                        <form class="form-default" method="post" enctype="multipart/form-data" asp-action="Update_User" asp-route-id="@Model.id">



                            <div class="form-group">
                                <label for="loginUserEmail">Email</label>
                                <input required asp-for="Email" type="text" name="Email" class="form-control" id="loginUserEmail" value="@Model.Email">
                            </div>
                            <div class="form-group">
                                <label for="loginName">Name</label>
                                <input required asp-for="Name" type="text" name="Name" class="form-control" id="loginName" value="@Model.Name">
                            </div>
                            <div class="form-group">
                                <label for="loginPassword">Password Old</label>
                                <input required asp-for="Password" type="Password" name="Password" class="form-control" id="loginPassword">
                            </div>
                            <div class="form-group">
                                <label for="Mobile">Phone</label>
                                <input required asp-for="Mobile" type="text" name="Mobile" class="form-control" id="Mobile" value="@Model.Mobile">
                            </div>
                            <div class="form-group">
                                <label for="Address">Address</label>
                                <input asp-for="Address" type="text" name="Address" class="form-control" id="Address" value="@Model.Address">
                            </div>
                            <div class="form-group">
                                <label for="Birthday">Birthday</label>
                                <input asp-for="Birthday" type="date" name="Birthday" class="form-control" id="Birthday">
                            </div>
                            <div class="form-group">
                                <label for="ProfileImage">Image</label>
                                <input asp-for="ProfileImage" type="file" name="ProfileImage" class="form-control-file" id="ProfileImage" onchange="loadFile(event)">
                                <p><img src="~/update_images/@Model.Image" id="output" width="200" /></p>
                            </div>

                            <script>
                                var loadFile = function (event) {
                                    var image = document.getElementById('output');
                                    image.src = URL.createObjectURL(event.target.files[0]);
                                };
                            </script>
                            @{
                                if (@Model.Mess != null)
                                {
                                      <span style="font-weight: bold">@Model.Mess</span>
                                }
                            }

                            <input type="submit" class="btn btn-secondary btn-block" value="Update Infomation" />

                        </form>
                        <br /><br /><br />
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
