@model ForumClient.Models.ReplyModel

left ViewData["Title"] = "ViewReply";
    Layout = "~/Views/Forum/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<main id="tt-pageContent">
    <div class="container">
        <div class="tt-single-topic-list">
             <div class="tt-item">
                 <div class="tt-single-topic">
                    <div class="tt-item-header">
                        <div class="tt-item-info info-top">
                            <div class="tt-avatar-icon">
                                @{
                                    var str1 = ViewBag.Comments.username.Substring(0, 1).ToLower();
                                }
                                <i class="tt-icon"><svg><use xlink:href="#icon-ava-@str1"></use></svg></i>
                            </div>
                            <div class="tt-avatar-title">

                               <a asp-action="ViewInfomation" asp-route-id="@ViewBag.Comments.username" target="_blank">@ViewBag.Comments.username</a>
                            </div>
                            <a href="#" class="tt-info-time">
                                <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>@ViewBag.Comments.create_at
                            </a>
                        </div>
                    </div>
                    <div class="tt-item-description">
                        <p>
                           @ViewBag.Comments.comment
                        </p>
                    </div>
              
                </div>
            </div>
            </div>
             @{
                if (TempData["Message"] != null)
                {
                    <div class="alert alert-primary" role="alert">
                      @TempData["Message"]
                    </div>
                }
            }
    <form asp-action="CreateReply">
        
        <input asp-for="Reply" class='form-control'placeholder="Reply this comment" />
        <input type='hidden' asp-for="comment_id" value='@ViewBag.Comments.comment_id' />
        <button class='btn btn-primary' type='submit' style="margin-top:10px">Enter</button>
    </form>
           @foreach(var cmt in @ViewBag.Replys)
        {
            <div class="tt-item" style='margin-left:5%;width:80%'>
                 <div class="tt-single-topic">
                    <div class="tt-item-header pt-noborder">
                        <div class="tt-item-info info-top">
                            @{
                                var str123 = cmt.username.Substring(0, 1).ToLower();
                            }
                            <div class="tt-avatar-icon">
                                <i class="tt-icon"><svg><use xlink:href="#icon-ava-@str123"></use></svg></i>
                            </div>

                            <div class="tt-avatar-title">
                                <a asp-action="ViewInfomation" asp-route-id="@cmt.username" target="_blank">@cmt.username</a>
                            </div>
                            <a href="#" class="tt-info-time">
                                <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>@cmt.create_at
                            </a>
                        </div>
                    </div>
                    <div class="tt-item-description">
                        @cmt.Reply
                    </div>
                </div>
            </div>
        }
        </div>
</main>