@model ForumClient.Models.CommentModel

@{
    ViewData["Title"] = "ViewComment";
    Layout = "~/Views/Forum/_Layout.cshtml";
}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<main id="tt-pageContent">
    <div class="container">
        <div class="tt-single-topic-list">
            <div class="tt-item">
                <div class="tt-single-topic">
                    <div class="tt-item-header">
                        <div class="tt-item-info info-top">
                            <div class="container">
                                <div class="row">
                                    <div class="col-sm-10" style="margin-top: -50px;word-wrap:break-word">
                                        <div class="tt-item-tag">
                                            <ul class="tt-list-badge" style="margin-bottom:20px">
                                                <li><span class="tt-color03 tt-badge">@ViewBag.Topics.Categogies_name</span></li>
                                            </ul>
                                            <h3 class="m_title" style="text-transform:uppercase; font-size: 30px;">
                                                @ViewBag.Topics.Title
                                            </h3>
                                        </div>
                                    </div>
                                    <div class="col-sm-2" style="text-align:center">
                                        <div class="tt-avatar-icon">
                                            @{
                                                var str = ViewBag.Topics.Username.Substring(0, 1).ToLower();
                                            }
                                            <i class="tt-icon"><svg style="margin-left: 30px; margin-top: -150px;"><use xlink:href="#icon-ava-@str"></use></svg></i>
                                        </div>
                                        <div class="tt-avatar-title">
                                            <a asp-action="ViewInfomation" asp-route-id="@ViewBag.Topics.Username" target="_blank">@ViewBag.Topics.Username</a>
                                        </div>
                                        <a href="#" class="tt-info-time" style="text-decoration:none">
                                            <i class="tt-icon"><svg><use xlink:href="#icon-time"></use></svg></i>@ViewBag.Topics.Created_at
                                        </a>
                                    </div>
                                </div>
                            </div>

                        </div>


                    </div>
                    <div class="tt-item-description">

                        <div class="container" style="word-wrap: break-word; text-indent: 30px; text-transform: initial; ">
                            @Html.Raw(ViewBag.Topics.Contents);
                        </div>
                    </div>
                    <hr style=" width: 60%; margin-left: 300px; margin-bottom: -50px;" />
                    <div class="tt-item-info info-bottom">
                        <a href="#" class="tt-icon-btn" style="text-decoration: none;">
                            <i class="tt-icon"><svg><use xlink:href="#icon-like"></use></svg></i>
                            <span class="tt-text">671</span>
                        </a>
                        <a href="#" class="tt-icon-btn" style="text-decoration: none;">
                            <i class="tt-icon"><svg><use xlink:href="#icon-dislike"></use></svg></i>
                            <span class="tt-text">39</span>
                        </a>
                        <a href="#" class="tt-icon-btn" style="text-decoration: none;">
                            <i class="tt-icon"><svg><use xlink:href="#icon-favorite"></use></svg></i>
                            <span class="tt-text">12</span>
                        </a>
                        <div class="col-separator"></div>
                        <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                            <i class="tt-icon"><svg><use xlink:href="#icon-share"></use></svg></i>
                        </a>
                        <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                            <i class="tt-icon"><svg><use xlink:href="#icon-flag"></use></svg></i>
                        </a>
                        <a href="#" class="tt-icon-btn tt-hover-02 tt-small-indent">
                            <i class="tt-icon"><svg><use xlink:href="#icon-reply"></use></svg></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        @{
            if (TempData["Message"] != null)
            {
                <div class="alert alert-primary" role="alert">
                    @TempData["Message"]
                </div>
            }
        }
    <form asp-action="CreateComment">
        <div class="container">
            <div class="row">
                <div class="col-sm-2" style="margin-left: 30px;">
                    <button class='btn btn-primary' type='submit'>Add Comment</button>
                </div>
                <div class="col-sm-9" style="margin-left: -70px; /* position: absolute; */ width: 85%;">
                    <input asp-for="comment" class='form-control' placeholder="Comment" />
                    <input type='hidden' asp-for="topic_id" value='@ViewBag.Topics.Topic_Id' placeholder="Comment" />

                </div>
            </div>
        </div>
    </form>
             @{
                if (TempData["Message"] != null)
                {
                    <div class="alert alert-primary" role="alert">
                      @TempData["Message"]
                    </div>
                }
            }
            
            
           @foreach(var cmt in @ViewBag.Comments)
        {
    <div class="tt-item">
        <div class="tt-single-topic">
            <div class="tt-item-header pt-noborder">
                <div class="tt-item-info info-top">
                    <div class="tt-avatar-icon">
                        @{
                            var strcmt = cmt.username.Substring(0, 1).ToLower();
                        }
                        <i class="tt-icon"><svg><use xlink:href="#icon-ava-@strcmt"></use></svg></i>
                    </div>
                    <div class="tt-avatar-title" style=" margin-left: -30px;">
                        <a asp-action="ViewInfomation" asp-route-id="@cmt.username">@cmt.username</a>
                    </div>
                </div>
                <div class="tt-item-description" style=" margin-left: -30px;">
                    @cmt.comment
                </div>
                <div class="tt-item-info info-bottom" style="margin-left: -30px; margin-top: 5px;">
                    <a asp-action='ViewReply' asp-route-id="@cmt.comment_id" class="tt-icon-btn tt-hover-02 tt-small-indent" style="text-decoration:none">
                        <i class="tt-icon" style=" margin-left: 15px; text-decoration: none;"> Reply <svg style=" height: 12px; margin-top: -15px; margin-left: -4px;"><use xlink:href="#icon-reply"></use></svg></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
            }
            <div class="tt-wrapper-inner">
                <h4 class="tt-title-separator"><span>You’ve reached the end of replies</span></h4>
            </div>
    

</main>